DATABASE_URL="postgresql://postgres:postgres@localhost:5432/playsharp?schema=public"

WEB_APP_URL="http://localhost:3000"
API_PORT=3001
NODE_ENV="development"
JWT_SECRET="replace-me"

# Future premium integration
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
